* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
:root {
	--fnt: "Titillium Web", sans-serif;
	--clr-fnt: #fff;
	--clr-sec-one: #87509c;
	--clr-active: #643a79;
	--btn-secOne: #eb7d4b;
	--btn-shdw: #c86a40;
	--clr-sec-two: #17c2a4;
	--clr-txt-lyr: #14a58c;
	--clr-use: #effbf9;
	--clr-sec-three: #e7f1f8;
	--clr-names: #e7f1f8;
	--clr-clients: #30bae7;
	--clr-icons: #30bae7;
}
#main {
	overflow: hidden;
	background: #87509c;
	height: 75vh;
}
.logo {
	margin-left: 40px;
	/*border: 2px solid blue;*/
}
.nav {
	/*border: 2px solid red;*/
}
nav {
	position: relative;
	top: -75px;
	left: 58%;
	max-width: 580px;
	/*border: 2px solid green;*/
}
nav a {
	font-family: var(--fnt);
	font-size: 18px;
	font-weight: 400;
	padding: 20px 25px;
	color: var(--clr-fnt);
	text-decoration: none;
	text-transform: uppercase;
}
nav .about {
	background: var(--clr-active);
	padding: 7px 10px;
	border-radius: 10px;
}
.box {
	/*border: 2px solid yellow;*/
	height: 320px;
	margin: 10px;
}
.box .mainHead {
	font-family: var(--fnt);
	font-size: 42px;
	color: var(--clr-fnt);
	width: 920px;
	position: relative;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

	/*border: 2px solid cyan;*/
}
.box .mainHead .first {
	margin-left: 80px;
}
.btnOne {
	background-color: var(--btn-secOne);
	border-radius: 4px;
	height: 75px;
	width: 200px;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 5px 0 var(--btn-shdw);
	outline: none;
	border: none;
	cursor: pointer;
}
.btnOne a {
	font-family: var(--fnt);
	font-size: 18px;
	color: var(--clr-fnt);
	text-transform: uppercase;
	text-decoration: none;
}